/* Settings
* ==================
* Design Tokens
*/

/* colors */
$red: #D91136;
$pink: #F249A6;
$blue: #0FC9F2;
$green: #66A638;
$yellow: #F2C230;
$white: #FFF;

/* spaces */
$bit-space: 4px;
$nibble-space: 8px;
$byte-space: 12px;
$kilo-byte-space: 16px;
$mega-byte-space: 20px;
$giga-byte-space: 24px;
$tera-byte-space: 28px;
$peta-byte-space: 32px;

/* fonts */
$big: 48px;

/* shadow */
$card-shadow: 0 2px 8px 0 rgba(200, 200, 200, 0.5);