@import './styles/settings.scss';

.app-header {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-section {
  padding: 30px;
  color: $blue;

  & > .title {
    margin-left: 10px;
  }
}