@import 'src/styles/settings';

.pomodoro-timer {
  background-color: $white;
  padding: $peta-byte-space;
  box-shadow: $card-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;

  & > .title {
    color: $red;
    text-align: center;
    font-size: 44px;
    margin: 0;
  }

  & > .timer {
    display: flex;
    justify-content: center;
    margin: $giga-byte-space 0;
  }
}